:root {
  --primary: blue;
  --secondary: white;
  --background: white;
}

@import url('http://fonts.cdnfonts.com/css/kuro');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kuro', 'Avenir', 'Avenir Next', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
  justify-content: center;
}

main {
  max-width: 37.5em;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: var(--primary);
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  padding: 1em;
}

main {
  padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

/* Header Items*/
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

/* Header Logo (style as h2) */
header > em {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
  font-style: normal;
}

/* Header Nav */
header nav ul {
  padding: 1.5rem 0 0 0;
  list-style: none;
}

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 0.25em;
}

header nav li a {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current='current item'] {
  background-color: white;
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel='tag'],
a[rel='tag']:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel='tag']:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

a[rel='tag']:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: 'Avenir', 'Avenir Next', sans-serif;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

/*============Dark Mode==================*/

@media (prefers-color-scheme: dark) {
  /* Invert all elements on the body while attempting to not alter the hue substantially. */
  body {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Workarounds and optical adjustments. */

  /* Firefox workaround: Set the background colour for the html
     element separately because, unlike other browsers, Firefox
     doesn’t apply the filter to the root element’s background. */
  html {
    background-color: #111;
  }

  /* Do not invert media (revert the invert). */
  img,
  video,
  iframe {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Improve contrast on icons. */
  .icon {
    filter: invert(15%) hue-rotate(180deg);
  }

  /* Re-enable code block backgrounds. */
  pre {
    filter: invert(6%);
  }

  /* Improve contrast on list item markers. */
  li::marker {
    color: #666;
  }
}
